<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293000718336-ngmgipnsr9vecv03ot58ov98m8ifpffp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293000718336-ngmgipnsr9vecv03ot58ov98m8ifpffp</string>
	<key>API_KEY</key>
	<string>AIzaSyAQMi5qYohg0IT5AI3T0otbHtsMuBM6OyI</string>
	<key>GCM_SENDER_ID</key>
	<string>293000718336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhanushe.carpoolz</string>
	<key>PROJECT_ID</key>
	<string>carpoolz-64407</string>
	<key>STORAGE_BUCKET</key>
	<string>carpoolz-64407.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293000718336:ios:51485c015942ac1c3b90e5</string>
</dict>
</plist>